



# British Airways Advanced SQL

## Preparations

### Installing and importing packages

In [ ]:
import pandas as pd
import sqlalchemy as sa

### Making a connection

In [ ]:
ba_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/SQL_2_1"

Remember: Connecting with SQLAlchemy always works in two steps:

1.   Create an engine
2.   Make a connection

In [ ]:
engine = sa.create_engine(ba_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

### Schema

![New_BA_Schema.png]()

### Tasks

In [ ]:
# Create a list of flights, showing the flight ID, departure city, arrival city,
# manufacturer, and aircraft sub-type that will be used for each flight

# Show the results for all flights that are available even if not all information is available for all flights.
# ba flight routes, ba fuel efficiency, ba aircraft

query = """

SELECT f.flight_id,r.departure_city,r.arrival_city, a.manufacturer,a.ac_subtype
FROM ba_fuel_efficiency e
JOIN ba_aircraft a
ON e.ac_subtype=a.ac_subtype
FULL JOIN ba_flights f
ON f.flight_id=a.flight_id
FULL JOIN ba_flight_routes r
ON r.flight_number=f.flight_number
ORDER BY flight_id,ac_subtype,manufacturer




"""
pd.read_sql(sa.text(query),connection)

     flight_id departure_city arrival_city manufacturer ac_subtype
0       AAAA01      Stockholm       London       Boeing        73H
1       AAAA02         London       Riyadh         None       None
2       AAAA03         London       Riyadh         None       None
3       AAAA04         Dammam       London         None       None
4       AAAA05         London        Dubai         None       None
...        ...            ...          ...          ...        ...
1007   AAAA995  Port of Spain       London       Boeing        73W
1008   AAAA996       Helsinki       London       Boeing        772
1009   AAAA997          Basel       London       Boeing        73H
1010   AAAA998         London     Helsinki       Airbus        332
1011   AAAA999         London       Riyadh       Boeing        73J

[1012 rows x 5 columns]

In [ ]:

query = """

SELECT max(f.total_passengers), a.manufacturer,a.ac_subtype
FROM ba_flights f
LEFT JOIN ba_aircraft a
ON f.flight_id=a.flight_id
WHERE f.status='Completed' AND a.manufacturer IS NOT NULL AND a.ac_subtype IS NOT NULL
GROUP BY a.manufacturer, a.ac_subtype





"""
pd.read_sql(sa.text(query),connection)

   max manufacturer ac_subtype
0  264       Boeing        73W
1  264       Boeing        789
2  326       Boeing        73H
3  376      Embraer        E75
4  373       Boeing        772
5  373       Airbus        332
6  373       Boeing        295
7  376       Boeing        73J
8  277      Embraer        E90

In [ ]:

query = """

SELECT  a.manufacturer,a.ac_subtype
FROM ba_flight_routes r
JOIN ba_flights f
ON f.flight_number=r.flight_number
JOIN ba_aircraft a
ON a.flight_id=f.flight_id
WHERE f.status='Completed' AND a.manufacturer IS NOT NULL AND a.ac_subtype IS NOT NULL AND r.distance_flown>7000
GROUP BY a.manufacturer, a.ac_subtype





"""
pd.read_sql(sa.text(query),connection)

  manufacturer ac_subtype
0       Airbus        332
1       Boeing        295
2       Boeing        73H
3       Boeing        772
4       Boeing        789
5      Embraer        E90

In [ ]:

query = """

SELECT  a.manufacturer,a.ac_subtype, COUNT(f.flight_number) as total_flights
FROM ba_flight_routes r
LEFT JOIN ba_flights f
ON f.flight_number=r.flight_number
LEFT JOIN ba_aircraft a
ON a.flight_id=f.flight_id
WHERE r.departure_city='London' AND r.arrival_city IN ('Basel','Trondheim','Glasgow') AND a.manufacturer IS NOT NULL AND a.ac_subtype IS NOT NULL
GROUP BY a.manufacturer, a.ac_subtype
ORDER BY total_flights DESC
limit 1








"""
pd.read_sql(sa.text(query),connection)

  manufacturer ac_subtype  total_flights
0       Boeing        295              9

In [ ]:

query = """

SELECT  *
FROM ba_flight_routes r
JOIN ba_flights f
ON f.flight_number=r.flight_number
JOIN ba_aircraft a
ON a.flight_id=f.flight_id
WHERE r.departure_city='London' AND r.arrival_city IN ('Basel','Trondheim','Glasgow') AND a.manufacturer IS NOT NULL AND a.ac_subtype IS NOT NULL






"""
pd.read_sql(sa.text(query),connection)

,flight_number,departure_city,arrival_city,distance_flown,flight_id,flight_number,actual_flight_date,airline,status,delayed_flag,total_passengers,baggage_weight,bike_bags,revenue_from_baggage,flight_id,ac_subtype,manufacturer
0,BA1738,London,Glasgow,717,AAAA30,BA1738,2023-04-05,BA,Cancelled,,130,2340,920,59002,AAAA30,73H,Boeing
1,BA1387,London,Trondheim,1289,AAAA39,BA1387,2023-04-05,BA,Cancelled,,88,1584,640,40706,AAAA39,E90,Embraer
2,BA1743,London,Glasgow,717,AAAA82,BA1743,2023-04-05,BA,Cancelled,,113,2034,800,51112,AAAA82,295,Boeing
3,BA1748,London,Glasgow,717,AAAA84,BA1748,2023-04-05,BA,Cancelled,,94,1692,680,43259,AAAA84,73H,Boeing
4,BA2342,London,Basel,560,AAAA94,BA2342,2023-04-05,BA,Cancelled,,74,1332,520,33259,AAAA94,E90,Embraer
5,BA2349,London,Basel,560,AAAA96,BA2349,2023-04-05,BA,Cancelled,,81,1458,600,38100,AAAA96,E75,Embraer
6,BA1748,London,Glasgow,717,AAAA101,BA1748,2023-05-01,BA,Completed,N,97,6768,720,11456,AAAA101,789,Boeing
7,BA1738,London,Glasgow,717,AAAA112,BA1738,2023-01-10,BA,Scheduled,,106,2286,0,13803,AAAA112,789,Boeing
8,BA2342,London,Basel,560,AAAA126,BA2342,2023-03-22,BA,Scheduled,,0,1332,16,15158,AAAA126,73W,Boeing
9,BA1748,London,Glasgow,717,AAAA127,BA1748,2023-04-03,BA,Cancelled,,74,1332,760,10450,AAAA127,295,Boeing
10,BA2342,London,Basel,560,AAAA132,BA2342,2023-03-18,BA,Completed,N,152,0,0,13803,AAAA132,295,Boeing
11,BA1387,London,Trondheim,1289,AAAA133,BA1387,2023-05-12,BA,Cancelled,,373,1764,1240,43259,AAAA133,E75,Embraer
12,BA2349,London,Basel,560,AAAA164,BA2349,2023-04-04,BA,Cancelled,,106,1926,600,45753,AAAA164,73W,Boeing
13,BA1387,London,Trondheim,1289,AAAA199,BA1387,2023-03-16,BA,Cancelled,,27,2088,29,81671,AAAA199,73H,Boeing
14,BA1387,London,Trondheim,1289,AAAA214,BA1387,2023-05-31,BA,Scheduled,,73,1764,6,1594,AAAA214,73J,Boeing
15,BA1743,London,Glasgow,717,AAAA221,BA1743,2023-02-10,BA,Cancelled,,0,0,16,40262,AAAA221,332,Airbus
16,BA2349,London,Basel,560,AAAA228,BA2349,2023-06-11,BA,Cancelled,,191,1764,760,11456,AAAA228,E90,Embraer
17,BA2342,London,Basel,560,AAAA229,BA2342,2023-03-14,BA,Scheduled,,180,2862,1,73759,AAAA229,73W,Boeing
18,BA2349,London,Basel,560,AAAA282,BA2349,2023-04-15,BA,Scheduled,,100,0,24,31288,AAAA282,E75,Embraer
19,BA1387,London,Trondheim,1289,AAAA305,BA1387,2023-06-06,BA,Cancelled,,135,1278,48,10550,AAAA305,E75,Embraer
20,BA1738,London,Glasgow,717,AAAA330,BA1738,2023-01-25,BA,Cancelled,,135,1566,0,57092,AAAA330,295,Boeing
21,BA1387,London,Trondheim,1289,AAAA333,BA1387,2023-04-13,BA,Scheduled,,97,1908,640,87013,AAAA333,73W,Boeing
22,BA1738,London,Glasgow,717,AAAA365,BA1738,2023-03-09,BA,Completed,N,188,1332,17,11456,AAAA365,E90,Embraer
23,BA1748,London,Glasgow,717,AAAA370,BA1748,2023-04-27,BA,Cancelled,,100,0,720,45753,AAAA370,789,Boeing
24,BA1748,London,Glasgow,717,AAAA458,BA1748,2023-06-12,BA,Cancelled,,326,0,0,0,AAAA458,789,Boeing
25,BA1738,London,Glasgow,717,AAAA487,BA1738,2023-03-08,BA,Completed,N,99,6768,22,5203,AAAA487,E75,Embraer
26,BA2342,London,Basel,560,AAAA490,BA2342,2023-02-04,BA,Scheduled,,77,1692,800,10559,AAAA490,295,Boeing
27,BA1748,London,Glasgow,717,AAAA520,BA1748,2023-04-28,BA,Scheduled,,191,2034,0,40859,AAAA520,332,Airbus
28,BA1748,London,Glasgow,717,AAAA524,BA1748,2023-02-17,BA,Completed,N,113,1242,440,46006,AAAA524,772,Boeing
29,BA1387,London,Trondheim,1289,AAAA554,BA1387,2023-01-30,BA,Cancelled,,77,2376,2360,18447,AAAA554,295,Boeing
30,BA1743,London,Glasgow,717,AAAA557,BA1743,2023-05-09,BA,Scheduled,,326,2862,960,31288,AAAA557,E90,Embraer
31,BA2342,London,Basel,560,AAAA565,BA2342,2023-01-08,BA,Completed,N,99,2160,680,33259,AAAA565,E90,Embraer
32,BA2342,London,Basel,560,AAAA568,BA2342,2023-04-19,BA,Scheduled,,73,1278,24,23000,AAAA568,332,Airbus
33,BA1387,London,Trondheim,1289,AAAA607,BA1387,2023-02-01,BA,Scheduled,,107,1332,0,40512,AAAA607,332,Airbus
34,BA1738,London,Glasgow,717,AAAA611,BA1738,2023-06-05,BA,Completed,N,105,1530,560,9916,AAAA611,295,Boeing
35,BA1738,London,Glasgow,717,AAAA617,BA1738,2023-05-15,BA,Cancelled,,1,6714,24,10056,AAAA617,295,Boeing
36,BA2342,London,Basel,560,AAAA624,BA2342,2023-01-10,BA,Completed,N,90,3240,160,46006,AAAA624,789,Boeing
37,BA1738,London,Glasgow,717,AAAA669,BA1738,2023-06-08,BA,Completed,N,101,1008,6,23000,AAAA669,E75,Embraer
38,BA2349,London,Basel,560,AAAA690,BA2349,2023-05-29,BA,Completed,N,50,1620,1160,38500,AAAA690,E75,Embraer
39,BA1748,London,Glasgow,717,AAAA699,BA1748,2023-05-06,BA,Scheduled,,162,1314,680,8400,AAAA699,E90,Embraer
40,BA1743,London,Glasgow,717,AAAA703,BA1743,2023-05-28,BA,Cancelled,,170,486,6,78708,AAAA703,789,Boeing
41,BA1743,London,Glasgow,717,AAAA749,BA1743,2023-05-03,BA,Scheduled,,35,2430,2000,16456,AAAA749,295,Boeing
42,BA2342,London,Basel,560,AAAA799,BA2342,2023-05-23,BA,Completed,N,162,5868,2680,57092,AAAA799,E90,Embraer
43,BA1748,London,Glasgow,717,AAAA809,BA1748,2023-01-01,BA,Cancelled,,113,1332,960,38353,AAAA809,332,Airbus
44,BA2349,London,Basel,560,AAAA872,BA2349,2023-02-12,BA,Scheduled,,373,2916,880,45900,AAAA872,73H,Boeing
45,BA2349,London,Basel,560,AAAA884,BA2349,2023-05-24,BA,Scheduled,,77,2034,17,0,AAAA884,789,Boeing
46,BA2342,London,Basel,560,AAAA913,BA2342,2023-04-03,BA,Completed,N,163,1674,0,0,AAAA913,73H,Boeing
47,BA2349,London,Basel,560,AAAA947,BA2349,2023-06-11,BA,Completed,N,154,1116,2360,129263,AAAA947,73J,Boeing
48,BA1748,London,Glasgow,717,AAAA952,BA1748,2023-05-15,BA,Scheduled,,101,1764,0,10450,AAAA952,772,Boeing
49,BA1738,London,Glasgow,717,AAAA955,BA1738,2023-02-08,BA,Completed,N,113,1008,520,33644,AAAA955,73W,Boeing
50,BA1387,London,Trondheim,1289,AAAA973,BA1387,2023-04-11,BA,Scheduled,,161,1764,6,8400,AAAA973,332,Airbus
51,BA1738,London,Glasgow,717,AAAA1001,BA1738,2023-03-26,BA,Scheduled,,120,2430,11,6053,AAAA1001,E75,Embraer

In [ ]:
query = """

SELECT AVG(e.fuel_efficiency * r.distance_flown * f.total_passengers * f.baggage_weight) AS avg_fuel_in_ltrs_per_flight,a.manufacturer,a.ac_subtype

FROM ba_fuel_efficiency e
LEFT JOIN ba_aircraft a
ON e.ac_subtype=a.ac_subtype
LEFT JOIN ba_flights f
ON f.flight_id=a.flight_id
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number

WHERE r.departure_city='London' AND r.arrival_city IN ('Basel','Trondheim','Glasgow') AND a.manufacturer IS NOT NULL AND a.ac_subtype IS NOT NULL
GROUP BY a.manufacturer, a.ac_subtype
ORDER BY avg_fuel_in_ltrs_per_flight


"""
pd.read_sql(sa.text(query),connection)

   avg_fuel_in_ltrs_per_flight manufacturer ac_subtype
0                 2.294070e+06       Boeing        772
1                 3.186194e+06       Boeing        73J
2                 3.350866e+06       Boeing        789
3                 4.209148e+06       Boeing        295
4                 5.989305e+06       Boeing        73W
5                 7.874115e+06       Boeing        73H
6                 1.015638e+07      Embraer        E90
7                 1.603261e+07      Embraer        E75
8                 2.707703e+08       Airbus        332

In [ ]:
query = """

SELECT *

FROM ba_fuel_efficiency e
LEFT JOIN ba_aircraft a
ON e.ac_subtype=a.ac_subtype
LEFT JOIN ba_flights f
ON f.flight_id=a.flight_id
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number

WHERE f.status='Completed' AND a.manufacturer IS NOT NULL AND a.ac_subtype IS NOT NULL



"""
pd.read_sql(sa.text(query),connection)

,ac_subtype,manufacturer,fuel_efficiency,capacity,flight_id,ac_subtype,manufacturer,flight_id,flight_number,actual_flight_date,...,status,delayed_flag,total_passengers,baggage_weight,bike_bags,revenue_from_baggage,flight_number,departure_city,arrival_city,distance_flown
0,E90,Embraer,0.039123,380,AAAA120,E90,Embraer,AAAA120,BA907,2023-04-08,...,Completed,N,0,1620,800,9653,BA907,Oranjestad,Kralendijk,193
1,E90,Embraer,0.039123,380,AAAA134,E90,Embraer,AAAA134,BA1444,2023-01-09,...,Completed,N,89,0,0,163403,BA1444,Paris,London,398
2,E90,Embraer,0.039123,380,AAAA267,E90,Embraer,AAAA267,BA1707,2023-02-06,...,Completed,N,94,1764,24,19856,BA1707,London,Aberdeen,703
3,E90,Embraer,0.039123,380,AAAA283,E90,Embraer,AAAA283,BA1374,2023-06-15,...,Completed,N,81,1674,16,20600,BA1374,Helsinki,London,1521
4,E90,Embraer,0.039123,380,AAAA298,E90,Embraer,AAAA298,BA1730,2023-02-15,...,Completed,Y,0,1314,33,11215,BA1730,Aarhus,London,583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,295,Boeing,0.043204,400,AAAA776,295,Boeing,AAAA776,BA894,2023-02-17,...,Completed,N,0,2430,10,61623,BA894,London,Panama City,8812
238,295,Boeing,0.043204,400,AAAA853,295,Boeing,AAAA853,BA631,2023-05-12,...,Completed,Y,101,2034,0,25400,BA631,Kuala Lumpur,Jakarta,0
239,295,Boeing,0.043204,400,AAAA863,295,Boeing,AAAA863,BA1729,2023-06-02,...,Completed,N,130,3240,720,10450,BA1729,London,Aarhus,583
240,295,Boeing,0.043204,400,AAAA899,295,Boeing,AAAA899,BA1397,2023-04-04,...,Completed,N,0,0,11,11215,BA1397,Bergen,London,888
241,295,Boeing,0.043204,400,AAAA978,295,Boeing,AAAA978,BA1444,2023-03-21,...,Completed,N,264,2430,5,43412,BA1444,Paris,London,398

In [ ]:
# Correct answer to question 6
# The fuel used in liters per flight can be calculated by multiplying the fuel efficiency metric by distance, baggage weight, and number of passengers.

# Calculate the total amount of fuel used per kilometer flown of completed flights per manufacturer.
# What manufacturer has used less fuel per km in total?

# If flights do not have data available about the aircraft type, you can exclude the flights from the analysis.


query = """

SELECT a.manufacturer, SUM((e.fuel_efficiency * r.distance_flown * f.total_passengers * f.baggage_weight)*1.0)/SUM((r.distance_flown)) AS total_fuel_in_ltrs_per_km

FROM ba_fuel_efficiency e
LEFT JOIN ba_aircraft a
ON e.ac_subtype=a.ac_subtype
LEFT JOIN ba_flights f
ON f.flight_id=a.flight_id
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number

WHERE f.status='Completed' AND e.manufacturer IS NOT NULL AND r.distance_flown>0
GROUP BY a.manufacturer
ORDER BY total_fuel_in_ltrs_per_km


"""
pd.read_sql(sa.text(query),connection)

# Boeing uses less fuel per km

  manufacturer  total_fuel_in_ltrs_per_km
0       Boeing                4472.679052
1      Embraer                9853.451707
2       Airbus              394688.612612

In [ ]:
# How many flights per manufactuer
query = """

SELECT a.manufacturer, count(f.flight_id) as total_number_flights
FROM ba_fuel_efficiency e
LEFT JOIN ba_aircraft a
ON e.ac_subtype=a.ac_subtype
LEFT JOIN ba_flights f
ON f.flight_id=a.flight_id
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number

WHERE f.status='Completed' AND a.manufacturer IS NOT NULL AND r.distance_flown>0
GROUP BY a.manufacturer
ORDER BY total_number_flights


"""
pd.read_sql(sa.text(query),connection)

  manufacturer  total_number_flights
0       Airbus                    22
1      Embraer                    55
2       Boeing                   156

In [ ]:

query = """
SELECT *
FROM ba_flights f
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number
LEFT JOIN ba_aircraft a
ON a.flight_id=f.flight_id
LEFT JOIN ba_fuel_efficiency e
ON e.ac_subtype=a.ac_subtype
"""
pd.read_sql(sa.text(query),connection)

,flight_id,flight_number,actual_flight_date,airline,status,delayed_flag,total_passengers,baggage_weight,bike_bags,revenue_from_baggage,flight_number,departure_city,arrival_city,distance_flown,flight_id,ac_subtype,manufacturer
0,AAAA01,BA1310,2023-04-29,BA,Scheduled,,154,2772,28,16867,BA1310,Stockholm,London,1153,AAAA01,73H,Boeing
1,AAAA02,BA499,2023-04-05,BA,Cancelled,,77,1386,560,40262,BA499,London,Riyadh,4639,None,None,None
2,AAAA03,BA499,2023-05-07,BA,Scheduled,,0,0,0,0,BA499,London,Riyadh,4639,None,None,None
3,AAAA04,BA504,2023-05-20,BA,Scheduled,,99,1782,18,18447,BA504,Dammam,London,4705,None,None,None
4,AAAA05,BA505,2023-04-05,BA,Cancelled,,326,5868,2360,163403,BA505,London,Dubai,5168,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,AAAA1008,BA894,2023-05-16,BA,Cancelled,,326,1566,0,48700,BA894,London,Panama City,8812,None,None,None
1008,AAAA1009,BA955,2023-03-22,BA,Scheduled,,130,0,16,18503,BA955,Manila,Bangkok,2187,AAAA1009,295,Boeing
1009,AAAA1010,BA2359,2023-04-16,BA,Scheduled,,122,1386,480,38353,BA2359,London,Krakow,1073,None,None,None
1010,AAAA1011,BA1730,2023-05-26,BA,Scheduled,,1,2430,600,15158,BA1730,Aarhus,London,583,AAAA1011,73J,Boeing
1011,AAAA1012,BA543,2023-02-03,BA,Completed,N,159,2772,0,0,BA543,London,Kuwait City,4355,AAAA1012,E90,Embraer

In [ ]:
# Wed like to see how many passengers flew on airplanes
# using inefficient engines (fuel_efficiency below the industry benchmark of .025),
# per aircraft subtype

query = """
SELECT SUM(f.total_passengers) as total_passengers_on_inefficient_engines
FROM ba_flights f
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number
LEFT JOIN ba_aircraft a
ON a.flight_id=f.flight_id
LEFT JOIN ba_fuel_efficiency e
ON e.ac_subtype=a.ac_subtype
WHERE e.fuel_efficiency < 0.025
"""
pd.read_sql(sa.text(query),connection)

   total_passengers_on_inefficient_engines
0                                  26744.0

In [ ]:
# # To get started with analysis,
# create a summary of how many short-haul versus long-haul flights happen.
# A typical short-haul flight in Europe has a maximum distance of 2,000 km.

# How many flights are scheduled or completed for both short-haul and long-haul flights in 2023?

query = """


SELECT COUNT(f.flight_id),
CASE WHEN (r.distance_flown)<=2000 then 'short_haul_flights'
ELSE 'long_haul_flights'
END AS flight_length
FROM ba_flights  f
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number

WHERE f.status IN ('Completed','Scheduled') and (f.actual_flight_date BETWEEN '01-01-2023' AND '12-31-2023')
GROUP BY flight_length

"""
pd.read_sql(sa.text(query),connection)

   count       flight_length
0    536  short_haul_flights
1    118   long_haul_flights

In [ ]:
# We can calculate how full flights were by comparing the number of passengers on the flight against the capacity of the aircraft.

# Calculate the average number of empty seats for the short-haul and long-haul flights.
# Additionally, can you also calculate the average number of empty seats as a percentage of the maximum number of passengers?

# If the manufacturer and sub-type are not available for flights, we do not need to show the results of these flights.

query = """

SELECT AVG((e.capacity - f.total_passengers)) as avg_number_of_empty_seats, AVG((e.capacity - f.total_passengers)*1.0 / (e.capacity)),
CASE WHEN (r.distance_flown)<=2000 then 'short_haul_flights'
ELSE 'long_haul_flights'
END AS flight_length
FROM ba_flights  f
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number
LEFT JOIN ba_aircraft a
ON f.flight_id=a.flight_id
LEFT JOIN ba_fuel_efficiency e
ON a.ac_subtype=e.ac_subtype

WHERE e.manufacturer IS NOT NULL and e.ac_subtype IS NOT NULL
GROUP BY flight_length

"""
pd.read_sql(sa.text(query),connection)

   avg_number_of_empty_seats       avg       flight_length
0                 222.619327  0.559933  short_haul_flights
1                 229.210526  0.583046   long_haul_flights

In [ ]:
# Can you count the flight routes that are shorter than 10% of the distance of the longest route that we offer?

# query = """
# SELECT MAX(distance_flown)
# FROM ba_flight_routes
# """
# pd.read_sql(sa.text(query),connection)

# query = """
# SELECT MAX(distance_flown)*0.1 as ten_percent_of_longest_distance --GIVES 10% of the max distance flown
# FROM ba_flight_routes
# """
# pd.read_sql(sa.text(query),connection)
# ten_percent_of_longest_distance
# 	977.5

# query = """
# SELECT COUNT(flight_number) --GIVES 10% of the max distance flown
# FROM ba_flight_routes
# WHERE distance_flown<977.5

# """
# pd.read_sql(sa.text(query),connection)

query = """
SELECT COUNT(flight_number) --GIVES 10% of the max distance flown
FROM ba_flight_routes
WHERE distance_flown < (SELECT MAX(distance_flown)*0.1 as ten_percent_of_longest_distance --GIVES 10% of the max distance flown
FROM ba_flight_routes)

"""
pd.read_sql(sa.text(query),connection)

   count
0     43

In [ ]:

# flight numbers with routes that are shorter than 10% of the max distance flown
# generates 43 rows
query = """


SELECT flight_number
FROM ba_flight_routes
WHERE distance_flown < (SELECT MAX(distance_flown)*0.1 as ten_percent_of_longest_distance --GIVES 10% of the max distance flown
FROM ba_flight_routes)

"""
pd.read_sql(sa.text(query),connection)

   flight_number
0         BA1371
1         BA1390
2         BA1394
3         BA1395
4         BA1397
5         BA1398
6         BA1399
7         BA1444
8         BA1510
9         BA1516
10        BA1517
11        BA1526
12        BA1700
13        BA1702
14        BA1705
15        BA1706
16        BA1707
17        BA1709
18        BA1712
19        BA1716
20        BA1722
21        BA1723
22        BA1729
23        BA1730
24        BA1738
25        BA1739
26        BA1743
27        BA1744
28        BA1748
29        BA1752
30        BA1753
31        BA1762
32        BA1787
33        BA2341
34        BA2342
35        BA2343
36        BA2349
37         BA631
38         BA721
39         BA893
40         BA907
41         BA922
42         BA933

In [ ]:
# All flight numbers from flight routes
# generates 88 rows

query = """


SELECT flight_number
FROM ba_flight_routes


"""
pd.read_sql(sa.text(query),connection)

   flight_number
0         BA1310
1         BA1371
2         BA1374
3         BA1377
4         BA1378
..           ...
83         BA933
84         BA935
85         BA948
86         BA949
87         BA955

[88 rows x 1 columns]

In [ ]:
# Calculate % of flight routes that are shorter than 10% of the distance of the longest route that we offer as compared to all routes
# total number of routes = 88
# so, 43/88 * 100

query = """

SELECT COUNT(tab1) as count_of_routes_shorter_than_10_percent_of_the_max_distance_flown
,COUNT(tab2) as count_All_flight_numbers_from_flight_routes,

COUNT(tab1)*100.0/COUNT(tab2) AS percentage_of_flight_routes_that_are_shorter_than_10_percent_of_the_distance_of_the_longest_route_as_compared_to_all_routes

FROM

(SELECT flight_number
FROM ba_flight_routes) AS tab2

LEFT JOIN

(SELECT flight_number
FROM ba_flight_routes
WHERE distance_flown < (SELECT MAX(distance_flown)*0.1 as ten_percent_of_longest_distance
FROM ba_flight_routes)) AS tab1

ON tab2.flight_number=tab1.flight_number

"""
pd.read_sql(sa.text(query),connection)

,count_of_routes_shorter_than_10_percent_of_the_max_distance_flo,count_all_flight_numbers_from_flight_routes,percentage_of_flight_routes_that_are_shorter_than_10_percent_of
0,43,88,48.863636

In [ ]:
# Calculate % of flight routes that are shorter than 10% of the distance of the longest route that we offer as compared to all routes
# total number of routes = 88
# so, 43/88 * 100
# WITH CTE METHOD

query = """


WITH tab2 AS
(SELECT COUNT(flight_number)
FROM ba_flight_routes) ,

tab1 AS
(SELECT COUNT(flight_number)
FROM ba_flight_routes
WHERE distance_flown < (SELECT MAX(distance_flown)*0.1 as ten_percent_of_longest_distance
FROM ba_flight_routes))

SELECT tab1.count*100.0/tab2.count , tab1.count, tab2.count
FROM tab1
CROSS JOIN
tab2

"""
pd.read_sql(sa.text(query),connection)

    ?column?  count  count
0  48.863636     43     88

In [ ]:
# Please count all the flight routes in which we had 10 or more flights with less than 100 passengers each.

# show flights with less than 100 passengers
# query = """
# SELECT * from ba_flights
# where total_passengers<100

# """
# pd.read_sql(sa.text(query),connection)

# count flights based on flight number

# query = """
# SELECT flight_number, COUNT(flight_id) from ba_flights
# where total_passengers<100
# GROUP BY flight_number

# """
# pd.read_sql(sa.text(query),connection)

# flight routes with 10 or more flights
# query = """
# SELECT flight_number, COUNT(flight_id) from ba_flights
# where total_passengers<100
# GROUP BY flight_number
# HAVING COUNT(flight_id)>=10

# """
# pd.read_sql(sa.text(query),connection)


query = """
SELECT COUNT(*) as count_of_flight_routes_with_ten_or_more_flights FROM
(SELECT flight_number, COUNT(flight_id) from ba_flights
where total_passengers<100
GROUP BY flight_number
HAVING COUNT(flight_id)>=10) AS interesting_routes

"""
pd.read_sql(sa.text(query),connection)

#### subquery followed by WHERE is same as HAVING ***important note

   count_of_flight_routes_with_ten_or_more_flights
0                                               18

In [ ]:
# Calculate the total number of scheduled flights used with more than 100 empty seats in the plane.

# Split the flights by short-haul and long-haul flights.

# Exclude the flights where the manufacturer and sub-type are not available

query = """

SELECT COUNT(f.flight_id),
CASE WHEN (r.distance_flown)<=2000 then 'short_haul_flights'
ELSE 'long_haul_flights'
END AS flight_length
FROM ba_flights  f
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number
LEFT JOIN ba_aircraft a
ON f.flight_id=a.flight_id
LEFT JOIN ba_fuel_efficiency e
ON a.ac_subtype=e.ac_subtype

WHERE e.manufacturer IS NOT NULL and e.ac_subtype IS NOT NULL AND (e.capacity - f.total_passengers) > 100 AND f.status='Scheduled'
GROUP BY flight_length

"""
pd.read_sql(sa.text(query),connection)

   count       flight_length
0    186  short_haul_flights
1     45   long_haul_flights

In [ ]:
# What short-haul flight routes that have been completed have the highest average number of empty seats?

# Include the flight number, departure city, arrival city, number of completed flights, and average empty seats in your results.

# Make sure to include all flights that are available in the data even if the capacity information for some flights might be missing.

query = """

SELECT (f.flight_number), r.departure_city, r.arrival_city, COUNT(f.flight_id), AVG((e.capacity - f.total_passengers))
FROM ba_flights  f
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number
LEFT JOIN ba_aircraft a
ON f.flight_id=a.flight_id
LEFT JOIN ba_fuel_efficiency e
ON a.ac_subtype=e.ac_subtype

WHERE e.manufacturer IS NOT NULL and e.ac_subtype IS NOT NULL AND (e.capacity - f.total_passengers) > 100 AND f.status='Completed' AND (r.distance_flown)<=2000
GROUP BY f.flight_number,r.departure_city, r.arrival_city

"""
pd.read_sql(sa.text(query),connection)

   flight_number departure_city arrival_city  count         avg
0         BA1377         London     Helsinki      1  330.000000
1         BA1712         London     Aberdeen      1  127.000000
2         BA1729         London       Aarhus      8  257.250000
3         BA1382         London     Helsinki      5  264.800000
4          BA544         Muscat  Kuwait City      1  274.000000
..           ...            ...          ...    ...         ...
57        BA1397         Bergen       London      3  299.000000
58        BA1516         London    Edinburgh      2  343.500000
59        BA2007         London       Madrid      3  320.333333
60        BA1738         London      Glasgow      2  243.500000
61        BA1700         London     Aberdeen      2  338.500000

[62 rows x 5 columns]

In [ ]:
# What short-haul flight routes that have been completed have the highest average number of empty seats?

# Include the flight number, departure city, arrival city, number of completed flights, and average empty seats in your results.

# Make sure to include all flights that are available in the data even if the capacity information for some flights might be missing.

query = """

SELECT f.flight_number,r.departure_city,r.arrival_city,COUNT(f.flight_id) as num_of_completed_flights,AVG(e.capacity-f.total_passengers) as avg_number_of_empty_seats
FROM ba_flights  f
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number
LEFT JOIN ba_aircraft a
ON f.flight_id=a.flight_id
FULL JOIN ba_fuel_efficiency e
ON a.ac_subtype=e.ac_subtype
WHERE f.status='Completed' AND (r.distance_flown)<=2000
GROUP BY f.flight_number,r.departure_city,r.arrival_city
ORDER BY avg_number_of_empty_seats DESC


"""
pd.read_sql(sa.text(query),connection)

,flight_number,departure_city,arrival_city,num_of_completed_flights,avg_number_of_empty_seats
0,BA1997,Lisbon,London,1,NaN
1,BA1752,London,Humberside,1,550.000000
2,BA2002,London,Lisbon,4,460.000000
3,BA1753,Humberside,London,2,440.000000
4,BA1730,Aarhus,London,3,429.666667
...,...,...,...,...,...
62,BA1739,Glasgow,London,4,48.333333
63,BA2001,Lisbon,London,6,48.250000
64,BA1378,Helsinki,London,2,33.000000
65,BA1399,Bergen,London,2,7.000000
66,BA1774,London,Valencia,2,6.000000

In [ ]:
# # What are the short-haul flight routes and the average number of seats for short-haul flight routes that only have been completed 2 or fewer times?

# Include the flight number, departure city, arrival city, and average empty seats in your results.

# Make sure to include all flights that are available in the data even if the capacity information for some flights might be missing.

query = """

SELECT f.flight_number,r.departure_city,r.arrival_city,COUNT(f.flight_id) as num_of_completed_flights,AVG(e.capacity-f.total_passengers) as avg_number_of_empty_seats
FROM ba_flights  f
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number
LEFT JOIN ba_aircraft a
ON f.flight_id=a.flight_id
FULL JOIN ba_fuel_efficiency e
ON a.ac_subtype=e.ac_subtype
WHERE f.status='Completed' AND (r.distance_flown)<=2000
GROUP BY f.flight_number,r.departure_city,r.arrival_city
HAVING COUNT(f.status)<=2
ORDER BY avg_number_of_empty_seats DESC


"""
pd.read_sql(sa.text(query),connection)

,flight_number,departure_city,arrival_city,num_of_completed_flights,avg_number_of_empty_seats
0,BA1997,Lisbon,London,1,NaN
1,BA1752,London,Humberside,1,550.0
2,BA1753,Humberside,London,2,440.0
3,BA1377,London,Helsinki,1,330.0
4,BA1706,Aberdeen,London,2,321.0
5,BA2359,London,Krakow,2,316.5
6,BA933,Port of Spain,London,2,315.0
7,BA1744,Glasgow,London,2,305.0
8,BA631,Kuala Lumpur,Jakarta,2,303.5
9,BA2008,Madrid,London,2,286.0
10,BA1748,London,Glasgow,2,280.0
11,BA1310,Stockholm,London,2,220.0
12,BA2351,Krakow,London,2,206.0
13,BA893,Quito,Guayaquil,2,178.5
14,BA1712,London,Aberdeen,2,127.0
15,BA1771,London,Valencia,2,125.5
16,BA2349,London,Basel,2,107.0
17,BA1705,London,Aberdeen,2,92.0
18,BA1510,Edinburgh,London,2,51.5
19,BA1378,Helsinki,London,2,33.0
20,BA1399,Bergen,London,2,7.0
21,BA1774,London,Valencia,2,6.0

In [ ]:
# What are the short-haul flight routes and the average number of seats for short-haul flight routes
# that only have been completed 2 or fewer times that either depart or arrive in London?

# Include the flight number, departure city, arrival city, and average empty seats in your results.

# Make sure to include all flights that are available in the data even if the capacity information for some flights might be missing.

query = """

SELECT f.flight_number,r.departure_city,r.arrival_city,COUNT(f.flight_id) as num_of_completed_flights,AVG(e.capacity-f.total_passengers) as avg_number_of_empty_seats
FROM ba_flights  f
LEFT JOIN ba_flight_routes r
ON f.flight_number=r.flight_number
LEFT JOIN ba_aircraft a
ON f.flight_id=a.flight_id
FULL JOIN ba_fuel_efficiency e
ON a.ac_subtype=e.ac_subtype
WHERE f.status='Completed' AND (r.distance_flown)<=2000 AND (r.departure_city='London' OR r.arrival_city='London')
GROUP BY f.flight_number,r.departure_city,r.arrival_city
HAVING COUNT(f.status)<=2
ORDER BY avg_number_of_empty_seats DESC


"""
pd.read_sql(sa.text(query),connection)

,flight_number,departure_city,arrival_city,num_of_completed_flights,avg_number_of_empty_seats
0,BA1997,Lisbon,London,1,NaN
1,BA1752,London,Humberside,1,550.0
2,BA1753,Humberside,London,2,440.0
3,BA1377,London,Helsinki,1,330.0
4,BA1706,Aberdeen,London,2,321.0
5,BA2359,London,Krakow,2,316.5
6,BA933,Port of Spain,London,2,315.0
7,BA1744,Glasgow,London,2,305.0
8,BA2008,Madrid,London,2,286.0
9,BA1748,London,Glasgow,2,280.0
10,BA1310,Stockholm,London,2,220.0
11,BA2351,Krakow,London,2,206.0
12,BA1712,London,Aberdeen,2,127.0
13,BA1771,London,Valencia,2,125.5
14,BA2349,London,Basel,2,107.0
15,BA1705,London,Aberdeen,2,92.0
16,BA1510,Edinburgh,London,2,51.5
17,BA1378,Helsinki,London,2,33.0
18,BA1399,Bergen,London,2,7.0
19,BA1774,London,Valencia,2,6.0